.charts {
    text-align: center;
    margin: auto;
    display: grid;
}

.chart {
    width: 40%;
}

.small {
    padding: 150px;
    width: 600px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
